@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "CookieRun";
  src: url("/public/fonts/CookieRun-Regular.ttf" ) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Chosun";
  src: url("/public/fonts/ChosunCentennial.ttf");
}

body * {
  font-family: "CookieRun";
}